<h1>What's your idea?</h1>

<%= form_for(@idea) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  
  <%= f.label :body %>
  <%= f.text_field :body %><br>

  <%= f.collection_select(:category_id, Category.all, :id, :name) %><br>
  
  <%= f.hidden_field :user_id %><br>
  
  <%= f.submit "Create Idea" %>
<% end %>
