<h1>Welcome <%= @user.username %></h1>

<h2>Here are your ideas:</h2>

<ol>
  <% @user.ideas.each do |idea| %>
    <li><h3><%= link_to "#{idea.title}", idea %></h3><%= button_to "Edit Idea", edit_idea_path(idea), method: :get %><%= button_to "Delete", idea_path(idea), method: :delete %></li>
  <% end %>
</ol>

<%= link_to "Add New Idea", new_idea_path(user_id: @user.id) %>
